header{
    grid-area: header;
}

body{

	margin: 0; /* Ändrar margin */
	height: 100vh; /* Sätter en height */
}

h1{ 
	display: none;
}


ul { 
	list-style-type: none; /* tar bort prickarna från min lista */
	margin: 0;
	padding: 0; /* Tar bort padding */
	font-family: sans-serif;
    border-radius: 8px;
	background-color: #2196f3;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}




.wrapper {
	display: grid; /*visar min grid*/
	height: 100%; /*modiferar höjd*/
	width: 100%; /*modiferar bredd*/
	grid-template-rows: 50px auto 50px; /*storleken på mina olika områden i min grid*/
	margin: 0 auto; /*ändrar margin*/
	grid-template-areas: /*skapar mina grid områden*/
		"header"
		"main"
		"footer";
}

nav a:hover, a:focus{
	transition: 0.7s;
    background-color: #1b67a5;
    border-radius: 14px;
	
}

.hem >  section > h2 {
   text-align: center;	
   margin-top: 35px;
   margin-bottom: 10px;
   font-family: sans-serif;
   font-size: 8rem;
   background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.active{
	background-color: #1b67a5;
	border-radius: 14px;
	
}

video{
	width: 820px;
	height: 340px;
	margin-left: auto;
    margin-right: auto;
	display: block;
	
}

footer{
	grid-area: footer;
	background-color: rgba(0, 0, 0, 0.808);
	text-align: center;
	color: white;
	
}

.Band{
	padding-top: 60px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	display: grid;
	text-align: center;
	font-size: 20px;
	font-family: Rubik, sans-serif; 
	font-weight: bold;
}

main > section > a > img{
	transition: 0.5s;
	border-radius: 10px;
	height: 16em;
}

main > section > a > img:hover{
	transition: 0.3s;
	border-radius: 10px;
	height: 18em;
	border: 4px solid #1b67a5;
}



li a { 
	display: block; 
	color: white; /* Färg på text */
	padding: 14px 16px;
	text-decoration: none; /* Tar bort understräck på länkar */
	text-align: center; /* sätter text i mitten */
	
  
}

.Musik{
	display: grid;
	grid-template-columns: 1fr 1fr;

	width: auto;
	height: auto;
	
}

table {
	
}

table img{
	height: 140px;
	border-radius: 40px;
}

td{
	height: 140px;
	width: auto;
}

